In [1]:
import pandas as pd
import numpy as np

In [2]:

file_path = 'first_half.pickle'
df = pd.read_pickle(file_path)

In [3]:
df.head()

,loan_number,application_number,loan_product,disbursed_date,name,applicant_type,phone,email_id,data_source,address,data_type,Date_reported,priority,address_priority,phone_priority
1241680,GS096EEL1926264,A072101,EEG,2023-05-28,NaN,NaN,NaN,NaN,Scrub_experian,"144K KHALIPHA COLONY, BHERUPURA ROAD WAR SIKA...",NaN,2024-10-01,5,8.0,NaN
1229012,GS093EEL1936491,A072884,EEG,2023-05-31,NaN,NaN,NaN,NaN,Scrub_experian,0 BARA ALLAHABAD BARA KHAS BARA NEAR BY BHORAW...,NaN,2024-10-01,5,4.0,NaN
1228273,GS093EEL1548412,A044054,EEG,2022-12-26,NaN,NaN,NaN,NaN,Scrub_experian,99/C MUNDERA ALLAHABAD KANPUR ROAD NEAR RK GUE...,NaN,2024-10-01,5,7.0,NaN
1227978,GS093EEL1420229,A031833,EEG,2022-10-28,NaN,NaN,NaN,NaN,Scrub_experian,"HATHIGAHAN, HATHGA ALLAHABAD PHAPHAMAU UTTAR ...",NaN,2024-10-01,5,5.0,NaN
1213009,GS089EEL2019914,A077790,EEG,2023-06-30,NaN,NaN,NaN,NaN,Scrub_experian,2/826 17 VELA AVANUE PALLADAM GANAPATHIP TIRU...,NaN,2024-10-01,5,13.0,NaN

In [4]:
df.shape

(754422, 15)

In [5]:
import pandas as pd
import re

def sanitize_dataframe(df):
    """
    Sanitize a DataFrame by removing illegal characters from string columns.
    """
    # Regular expression for illegal characters
    illegal_char_re = re.compile('[\x00-\x1f\x7f-\x9f]')

    # Iterate over columns in DataFrame
    for col in df.columns:
        if df[col].dtype == object:  # If column is of object type (potentially strings)
            # Remove illegal characters in the column
            df[col] = df[col].apply(lambda x: illegal_char_re.sub('', x) if isinstance(x, str) else x)
    return df

def convert_pickle_to_excel(pickle_file_path, excel_file_path):
    # Read the pickle file
    df = pd.read_pickle(pickle_file_path)
    
    # Sanitize the DataFrame
    df_clean = sanitize_dataframe(df)

    # Save the sanitized DataFrame to an Excel file
    df_clean.to_excel(excel_file_path, index=False)

# Define your pickle file path and the desired Excel file path
pickle_file_path = 'first_half.pickle'
excel_file_path = 'destination_file.xlsx'

# Convert the pickle file to Excel
convert_pickle_to_excel(pickle_file_path, excel_file_path)

In [6]:
df=pd.read_excel(excel_file_path)

In [7]:
df.head()

,loan_number,application_number,loan_product,disbursed_date,name,applicant_type,phone,email_id,data_source,address,data_type,Date_reported,priority,address_priority,phone_priority
0,GS096EEL1926264,A072101,EEG,2023-05-28,NaN,NaN,NaN,NaN,Scrub_experian,"144K KHALIPHA COLONY, BHERUPURA ROAD WAR SIKA...",NaN,2024-10-01 00:00:00,5,8.0,NaN
1,GS093EEL1936491,A072884,EEG,2023-05-31,NaN,NaN,NaN,NaN,Scrub_experian,0 BARA ALLAHABAD BARA KHAS BARA NEAR BY BHORAW...,NaN,2024-10-01 00:00:00,5,4.0,NaN
2,GS093EEL1548412,A044054,EEG,2022-12-26,NaN,NaN,NaN,NaN,Scrub_experian,99/C MUNDERA ALLAHABAD KANPUR ROAD NEAR RK GUE...,NaN,2024-10-01 00:00:00,5,7.0,NaN
3,GS093EEL1420229,A031833,EEG,2022-10-28,NaN,NaN,NaN,NaN,Scrub_experian,"HATHIGAHAN, HATHGA ALLAHABAD PHAPHAMAU UTTAR ...",NaN,2024-10-01 00:00:00,5,5.0,NaN
4,GS089EEL2019914,A077790,EEG,2023-06-30,NaN,NaN,NaN,NaN,Scrub_experian,2/826 17 VELA AVANUE PALLADAM GANAPATHIP TIRU...,NaN,2024-10-01 00:00:00,5,13.0,NaN

In [8]:
df.shape

(754422, 15)

In [9]:
import pandas as pd

def extract_loan_address():
    file_path = 'destination_file.xlsx'
    df = pd.read_excel(file_path)
    extracted_columns = df[['loan_number', 'address']]
    extracted_columns.to_excel('processed_addresses.xlsx', index=False)

In [10]:
import pandas as pd
import re

def extract_pincode(address):
    if not isinstance(address, str):
        address = ""
    pincode = re.findall(r'\d{6}', address)
    return pincode[-1] if pincode else "Not found"

def process_address_1():
    excel_file = 'processed_addresses.xlsx'
    df = pd.read_excel(excel_file)
    df['pincode'] = df.apply(lambda row: extract_pincode(row['address']), axis=1)
    output_file = 'processed_addresses.xlsx'
    df.to_excel(output_file, index=False)

In [11]:
import pandas as pd
import re

def extract_state(address, states_array):
    if not isinstance(address, str):
        return "Not Found"

    words_in_address = re.split(r'\W+', address.upper())
    for word in words_in_address:
        for state in states_array:
            if word == state.upper():
                return state
    return "Not Found"


def process_addresses_2():
    indian_states_and_ut = [
        "Andhra Pradesh", "Arunachal Pradesh", "Assam", "Bihar", "Chhattisgarh", "Goa",
        "Gujarat", "Haryana", "Himachal Pradesh", "Jharkhand", "Karnataka", "Kerala",
        "Madhya Pradesh", "Maharashtra", "Manipur", "Meghalaya", "Mizoram", "Nagaland",
        "Odisha", "Punjab", "Rajasthan", "Sikkim", "Tamil Nadu", "Telangana", "Tripura",
        "Uttar Pradesh", "Uttarakhand", "West Bengal", "Andaman and Nicobar Islands",
        "Chandigarh", "Dadra and Nagar Haveli and Daman and Diu", "Lakshadweep", "Delhi",
        "Puducherry", "Jammu and Kashmir", "Ladakh"
    ]
    excel_file = 'processed_addresses.xlsx'
    df = pd.read_excel(excel_file)
    if 'address' in df.columns:
        df['state'] = df.apply(lambda row: extract_state(row['address'], indian_states_and_ut), axis=1)
    else:
        df['state'] = "Not Found"
    output_file = 'processed_addresses.xlsx'
    df.to_excel(output_file, index=False)

In [12]:
import pandas as pd
import re
import nltk
from nltk.corpus import words

nltk.download('words')

def extract_district(address, district_array):
    if not isinstance(address, str):
        return "Not found"
    words_in_address = re.split(r'\W+', address)
    for word in words_in_address:
        if word in district_array:
            return word
    return "Not found"

def process_addresses_3():
    district_array = ['Anantapur', 'Chittoor', 'East Godavari', 'Rajahmundry', 'Guntur', 'Krishna', 'Machilipatnam', 'Kurnool', 'Prakasam', 'Srikakulam', 'Sri Potti Sriramulu', 'Nellore', 'Visakhapatnam', 'Vizianagaram', 'West Godavari', 'Eluru', 'YSR Kadapa', 'Anjaw', 'Changlang', 'Dibang Valley', 'East Kameng', 'East Siang', 'Kurung Kumey', 'Lohit', 'Lower Dibang Valley', 'Lower Subansiri', 'Papum Pare', 'Tawang', 'Tirap', 'Upper Siang', 'Upper Subansiri', 'West Kameng', 'West Siang', 'Baksa', 'Barpeta', 'Bongaigaon', 'Cachar', 'Chirang', 'Darrang', 'Dhemaji', 'Dhubri', 'Dibrugarh', 'Dima Hasao', 'Goalpara', 'Golaghat', 'Hailakandi', 'Jorhat', 'Kamrup Metro', 'Kamrup Amingaon', 'Karimganj', 'Karbi Anglong', 'Kokrajhar', 'Lakhimpur', 'Morigaon', 'Nagaon', 'Nalbari', 'Sivasagar', 'Sonitpur', 'Tinsukia', 'Udalguri', 'Araria', 'Aurangabad', 'Banka', 'Begusarai', 'Bhagalpur', 'Bhojpur', 'Buxar', 'Darbhanga', 'East Champaran', 'Gaya', 'Gopalganj', 'Jamui', 'Jehanabad', 'Kaimur', 'Bhabhua', 'Katihar', 'Khagaria', 'Kishanganj', 'Lakhisarai', 'Madhepura', 'Madhubani', 'Munger', 'Muzaffarpur', 'Nalanda', 'Nawada', 'Patna', 'Purnea', 'Rohtas', 'Sasaram Nagar', 'Saharsa', 'Samastipur', 'Saran', 'Sheikhpura', 'Sheohar', 'Sitamarhi', 'Siwan', 'Supaul', 'Vaishali', 'West Champaran', 'Balod', 'Baloda Bazar', 'Balrampur', 'Bastar', 'Bemetara', 'Bijapur', 'Bilaspur', 'Dhamtari', 'Durg', 'Garibandh', 'Janjgir-Champa', 'Jashpur', 'Kabirdham-Kawardha', 'Kondagaon', 'Korba', 'Korea', 'Mahasamund', 'Mungeli', 'North Bastar-Kanked', 'Raigarh', 'Raipur', 'Rajnandgaon', 'South Bastar-Dantewada', 'Surajpur', 'Surguja', 'korba', 'North Goa', 'South Goa', 'Ahmedabad', 'Amreli', 'Anand', 'Aravalli', 'Banaskantha', 'Bharuch', 'Bhavnagar', 'Botad', 'Chhota Udepur', 'Dahod', 'Dang', 'Devbhumi Dwarka', 'Gandhinagar', 'Gir Somnath', 'Jamnagar', 'Junagadh', 'Kheda', 'Kutch', 'Mahisagar', 'Mehsana', 'Morbi', 'Narmada', 'Navsari', 'Panchmahals', 'Patan', 'Porbandar', 'Rajkot', 'Sabarkantha', 'Surat', 'Surendranagar', 'Tapi', 'Vadodara', 'Valsad', 'Ambala', 'Bhiwani', 'Faridabad', 'Fatehabad', 'Gurgaon', 'Hisar', 'Jhajjar', 'Jind', 'Kaithal', 'Karnal', 'Kurukshetra', 'Mahendragarh', 'Mewat', 'Palwal', 'Panchkula', 'Panipat', 'Rewari', 'Rohtak', 'Sirsa', 'Sonipat', 'Yamunanagar', 'Bilaspur', 'Chamba', 'Hamirpur', 'Kangra', 'Kinnaur', 'Kullu', 'Mandi', 'Shimla', 'Sirmaur', 'Solan', 'Una', 'Bokaro', 'Chatra', 'Deoghar', 'Dhanbad', 'Dumka', 'East Singhbhum', 'Garhwa', 'Giridih', 'Godda', 'Gumla', 'Hazaribagh', 'Jamtara', 'Khunti', 'Koderma', 'Latehar', 'Lohardaga', 'Pakur', 'Palamu', 'Ramgarh', 'Ranchi', 'Sahibganj', 'Seraikela-Kharsawan', 'Simdega', 'West Singhbhum', 'Bagalkot', 'Ballari', 'Belagavi', 'Bengaluru', 'Bengaluru Rural', 'Bidar', 'Chamrajnagar', 'Chikballapur', 'Chikkamagaluru', 'Chitradurga', 'Dakshina Kannada', 'Davangere', 'Dharwad', 'Gadag', 'Hassan', 'Haveri', 'Kalaburagi', 'Kodagu', 'Kolar', 'Koppal', 'Mandya', 'Mysuru', 'Raichur', 'Ramnagar', 'Shivamogga', 'Tumakuru', 'Udupi', 'Uttara Kannada', 'Vijayapura', 'Yadgir', 'Alappuzha', 'Ernakulam', 'Idukki', 'Kannur', 'Kasargod', 'Kollam', 'Kottayam', 'Kozhikode', 'Malappuram', 'Palakkad', 'Pathanamthitta', 'Thiruvananthapuram', 'Thrissur', 'Wayanad', 'Alirajpur', 'Anuppur', 'Ashoknagar', 'Balaghat', 'Barwani', 'Betul', 'Bhind', 'Bhopal', 'Burhanpur', 'Chhatarpur', 'Chhindwara', 'Damoh', 'Datia', 'Dewas', 'Dhar', 'Dindori', 'Guna', 'Gwalior', 'Harda', 'Hoshangabad', 'Indore', 'Jabalpur', 'Jhabua', 'Katni', 'Khandwa', 'Khargone', 'Mandla', 'Mandsaur', 'Morena', 'Narsinghpur', 'Neemuch', 'Panna', 'Raisen', 'Rajgarh', 'Ratlam', 'Rewa', 'Sagar', 'Satna', 'Sehore', 'Seoni', 'Shahdol', 'Shajapur', 'Sheopur', 'Shivpuri', 'Sidhi', 'Singrauli', 'Tikamgarh', 'Ujjain', 'Umaria', 'Vidisha', 'Ahmadnagar', 'Akola', 'Amravati', 'Aurangabad', 'Beed', 'Bhandara', 'Buldhana', 'Chandrapur', 'Dhule', 'Gadchiroli', 'Gondia', 'Jalgaon', 'Jalna', 'Kolhapur', 'Latur', 'Maharashtra CoOperative Courts', 'Maharashtra Family Courts', 'Maharashtra Industrial', 'Labour Courts', 'Mumbai City Civil Court', 'Mumbai CMM Court', 'Mumbai Motor', 'Accident Claims Tribunal', 'Mumbai Small Cause Court', 'Nagpur', 'Nanded', 'Nandurbar', 'Nashik', 'Osmanabad', 'Parbhani', 'Pune', 'Raigad', 'Ratnagiri', 'Sangli', 'Satara', 'Sindhudurg', 'Solapur', 'Thane', 'Wardha', 'Washim', 'Yavatmal', 'Mumbai', 'Bishnupur', 'Churachandpur', 'Imphal East', 'Imphal West', 'Senapati', 'Thoubal', 'Ukhrul', 'East Garo Hills', 'East Khasi Hills', 'Jaintia Hills', 'Ri-Bhoi', 'South West Garo Hills', 'West Garo Hills', 'West Khasi Hills', 'Aizawl', 'Champhai', 'Kolasib', 'Lawngtlai', 'Lunglei', 'Mamit', 'Saiha', 'Serchhip', 'Dimapur', 'Kohima', 'Kiphire', 'Longleng', 'Mokokchung', 'Mon', 'Peren', 'Phek', 'Tuensang', 'Wokha', 'Zunheboto', 'Angul', 'Balangir', 'Balasore', 'Bargarh', 'Bhadrak', 'Boudh', 'Cuttack', 'Deogarh', 'Dhenkanal', 'Gajapati', 'Ganjam', 'Jagatsinghapur', 'Jajpur', 'Jharsuguda', 'Kalahandi', 'Kandhamal', 'Kendrapara', 'Kendujhar', 'Khordha', 'Koraput', 'Malkangiri', 'Mayurbhanj', 'Nabarangpur', 'Nayagarh', 'Nuapada', 'Puri', 'Rayagada', 'Sambalpur', 'Subarnapur', 'Sundargarh', 'Amritsar', 'Barnala', 'Bathinda', 'Faridkot', 'Fatehgarh Sahib', 'Fazilka', 'Ferozepur', 'Gurdaspur', 'Hoshiarpur', 'Jalandhar', 'Kapurthala', 'Ludhiana', 'Mansa', 'Moga', 'Muktsar', 'Nawanshahr', 'Pathankot', 'Patiala', 'Rupnagar', 'Sangrur', 'SAS Nagar', 'Tarn Taran', 'Ajmer', 'Alwar', 'Banswara', 'Baran', 'Barmer', 'Bharatpur', 'Bhilwara', 'Bikaner', 'Bundi', 'Chittorgarh', 'Churu', 'Dausa', 'Dholpur', 'Dungarpur', 'Hanumangarh', 'Jaipur', 'Jaisalmer', 'Jalor', 'Jhalawar', 'Jhunjhunu', 'Jodhpur', 'Karauli', 'Kota', 'Nagaur', 'Pali', 'Pratapgarh', 'Rajsamand', 'Sawai Madhopur', 'Sikar', 'Sirohi', 'Sri Ganganagar', 'Tonk', 'Udaipur', 'East Sikkim', 'North Sikkim', 'South Sikkim', 'West Sikkim', 'Ariyalur', 'Chennai', 'Coimbatore', 'Cuddalore', 'Dharmapuri', 'Dindigul', 'Erode', 'Kanchipuram', 'Kanyakumari', 'Karur', 'Krishnagiri', 'Madurai', 'Nagapattinam', 'Namakkal', 'Perambalur', 'Pudukottai', 'Ramanathapuram', 'Salem', 'Sivaganga', 'Thanjavur', 'The Nilgiris', 'Theni', 'District Courts', 'Tiruchirappalli', 'Tirunelveni', 'Tiruppur', 'Tiruvallur', 'Tiruvannamalai', 'Tiruvarur', 'Vellore', 'Villuppuram', 'Adilabad', 'City Civil Court', 'City Small Cause Court', 'Metropolitan Sessions Court', 'Karimnagar', 'Khammam', 'Mahabubnagar', 'Medak', 'Nalgonda', 'Nizamabad', 'Ranga Reddy', 'Warangal', 'Dhalai', 'Gomati', 'Khowai', 'North Tripura', 'Sepahijala', 'South Tripura', 'Unakoti', 'West Tripura', 'Agra', 'Aligarh', 'Allahabad', 'Ambedkar Nagar', 'Amethi', 'Amroha', 'Auraiya', 'Azamgarh', 'Baghpat', 'Bahraich', 'Ballia', 'Balrampur', 'Banda', 'Barabanki', 'Bareilly', 'Basti', 'Bhadohi', 'Bijnor', 'Budaun', 'Bulandshahar', 'Chandauli', 'Chitrakoot', 'Deoria', 'Etah', 'Etawah', 'Faizabad', 'Farrukhabad', 'Fatehpur', 'Firozabad', 'Gautam Budh Nagar', 'Ghaziabad', 'Ghazipur', 'Gonda', 'Gorakhpur', 'Hamirpur', 'Hapur', 'Hardoi', 'Hathras', 'Jalaun', 'Jaunpur', 'Jhansi', 'Kannauj', 'Kanpur Dehat', 'Kanpur Nagar', 'Kasganj', 'Kaushambi', 'Kushinagar', 'Lakhimpur Kheri', 'Lalitpur', 'Lucknow', 'Maharajganj', 'Mahoba', 'Mainpuri', 'Mathura', 'Mau', 'Meerut', 'Mirzapur', 'Moradabad', 'Muzaffarnagar', 'Pilibhit', 'Pratapgarh', 'Raebareli', 'Rampur', 'Saharanpur', 'Sambhal', 'Sant Kabir Nagar', 'Shahjahanpur', 'Shamli', 'Shravasti', 'Siddhartha Nagar', 'Sitapur', 'Sonbhadra', 'Sultanpur', 'Unnao', 'Varanasi', 'Almora', 'Bageshwar', 'Chamoli', 'Champawat', 'Dehradun', 'Haridwar', 'Nainital', 'Pauri Garhwal', 'Pithoragarh', 'Rudraprayag', 'Tehri Garhwal', 'Udham Singh Nagar', 'Uttarkashi', 'Bankura', 'Birbhum', 'Cooch Behar', 'Darjeeling', 'East Bardhaman', 'East Medinipur', 'Hooghly', 'Howrah', 'Jalpaiguri', 'Kalimpong', 'Kolkata-City Civil Court', 'Kolkata-City Sessions Court', 'Kolkata-Presidency Small Causes Court', 'Malda', 'Murshidabad', 'Nadia', 'North 24 Parganas', 'North Dinajpur', 'Purulia', 'South 24 Parganas', 'South Dinajpur', 'West Bardhaman', 'West Medinipur', 'Nicobar', 'North and Middle Andaman', 'South Andaman', 'Chandigarh', 'Dadra and Nagar Haveli', 'Daman', 'Diu', 'Central Delhi', 'East Delhi', 'New Delhi', 'North Delhi', 'North East Delhi', 'North West Delhi', 'Shahdara Delhi', 'South Delhi', 'South East Delhi', 'South West Delhi', 'West Delhi', 'Anantnag', 'Badgam', 'Bandipora', 'Baramula', 'Doda', 'Ganderbal', 'Jammu', 'Kathua', 'Kishtwar', 'Kulgam', 'Kupwara', 'Poonch', 'Pulwama', 'Rajouri', 'Ramban', 'Reasi', 'Samba', 'Shopian', 'Srinagar', 'Udhampur', 'Leh', 'Kargil', 'Lakshadweep', 'Karaikal', 'Mahe', 'Pondicherry', 'Yanam']

    excel_file = 'processed_addresses.xlsx'
    df = pd.read_excel(excel_file)
    df['district'] = df.apply(lambda row: extract_district(row['address'], district_array), axis=1)
    output_file = 'processed_addresses.xlsx'
    df.to_excel(output_file, index=False)

[nltk_data] Downloading package words to /home/rahul.deb/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [13]:
import pandas as pd
import re

def remove_duplicates(address):
    words = address.split()
    return ' '.join(sorted(set(words), key=words.index))

def clean_address(address):
    if not isinstance(address, str):
        return address
    address = re.sub("[\/$&+,:;=?@#|'<>.^*()%!-]", " ", address)
    address = re.sub(' +', ' ', address).strip()
    address = remove_duplicates(address)
    return address

def is_address_valid(address):
    if isinstance(cleaned_address, str):
        # Check for minimum length
        if len(cleaned_address) < 15:
            return False

        # Check for a minimum number of words
        if len(cleaned_address.split()) < 5:
            return False

#         # Check if at least one of pincode, district, or state is present and valid
#         valid_fields = [pincode, district, state]
#         if not any(field != "Not Found" for field in valid_fields):
#             return False

        # Remove pincode, district, and state if they are not blank or "Not Found"
        address_without_keys = cleaned_address
        if pincode not in ["", "Not Found"]:
            address_without_keys = address_without_keys.replace(str(pincode), '')
        if district not in ["", "Not Found"]:
            address_without_keys = address_without_keys.replace(district, '')
        if state not in ["", "Not Found"]:
            address_without_keys = address_without_keys.replace(state, '')

        # Trim and check the length of the address after removals
        address_without_keys = address_without_keys.strip()
        if len(address_without_keys) < 7:
            return False

    else:
        return False

    return True


def process_addresses_4(file_path):
    data = pd.read_excel(file_path, usecols=['loan_number', 'address', 'pincode', 'district', 'state'])
    data['address_validation'] = data.apply(lambda row: 'Valid' if is_address_valid(clean_address(row['address']), row['pincode'], row['district'], row['state']) else 'Invalid', axis=1)
    data.to_excel(file_path, index=False)

def task5_execute():
    file_path = 'processed_addresses.xlsx'
    process_addresses_4(file_path)

In [14]:
import pandas as pd
import re
from fuzzywuzzy import fuzz
import time


def normalize_address(address):
    """
    Normalizes the address by removing special characters and extra spaces.
    """
    if isinstance(address, str):
        address = re.sub(r'\s+|,|\.|\-', ' ', address).upper()
        address = re.sub("[\/$&+,:;=?@#|'<>.^*()%!]", " ", address)
        return ' '.join(address.split())
    return ""


def fuzzy_similarity(address1, address2):
    address1 = address1.lower()
    address2 = address2.lower()
    return fuzz.token_set_ratio(address1, address2)


def fuzzy_similarity_ratio(address1, address2):
    address1 = address1.lower()
    address2 = address2.lower()
    return fuzz.ratio(address1, address2)


def extract_components(row):
    """
    Extracts components like pincode, state, and district directly from the DataFrame row.
    """
    pincode = row['pincode'] if pd.notnull(row['pincode']) else None
    state = row['state'] if pd.notnull(row['state']) else None
    district = row['district'] if pd.notnull(row['district']) else None
    return pincode, state, district


def is_similar_address(row1, row2, threshold=70):
    addr1 = row1['address'].lower()
    addr2 = row2['address'].lower()

    if fuzzy_similarity(addr1, addr2) > threshold:
        return True

    if fuzz.ratio(addr1[:20], addr2[:20]) >= 80:
        return True

    if fuzzy_similarity_ratio(addr1, addr2) > threshold:
        return True

    # pattern = re.compile(r'\b[a-zA-Z]{3,}\b')
    # words_addr1 = {word for word in addr1.split() if pattern.match(word)}
    # words_addr2 = {word for word in addr2.split() if pattern.match(word)}
    # different_words_count = len(words_addr1.symmetric_difference(words_addr2))
    # if different_words_count > 12:
    #     return False

    return False


def process_addresses_5(df):
    start_time = time.time()  # Start timing

    df['Normalized_Address'] = df['address'].apply(normalize_address)
    df['Unique_Address_ID'] = None
    df['Merged_Pincodes'] = ''  # Initialize as empty string

    loan_number_unique_addresses = {}
    total_groups = df['loan_number'].nunique()
    processed_groups = 0

    for loan_number, group_df in df.groupby('loan_number'):
        unique_addresses = {}
        unique_id_counter = 1

        for index, row in group_df.iterrows():
            if row['address_validation'].lower() != 'valid':
                continue

            address = row['Normalized_Address']
            if not address:
                continue

            address_id = None
            for seen_address, (seen_id, seen_row) in unique_addresses.items():
                if is_similar_address(row, seen_row):
                    address_id = seen_id
                    break

            if address_id is None:
                address_id = unique_id_counter
                unique_id_counter += 1
                unique_addresses[address] = (address_id, row)

            df.loc[index, 'Unique_Address_ID'] = address_id

            # Always update Merged_Pincodes for the address_id within the same loan_number
            existing_pincodes = df[(df['loan_number'] == loan_number) & (df['Unique_Address_ID'] == address_id)][
                'Merged_Pincodes'].unique()
            new_pincode = str(row['pincode']) if re.match(r'^\d{6}$', str(row['pincode'])) else ''
            merged_pincodes = ', '.join(
                sorted(set(filter(None, ', '.join(existing_pincodes).split(', ') + [new_pincode]))))
            df.loc[(df['loan_number'] == loan_number) & (
                        df['Unique_Address_ID'] == address_id), 'Merged_Pincodes'] = merged_pincodes

        loan_number_unique_addresses[loan_number] = unique_addresses

        processed_groups += 1
        current_time = time.time()
        elapsed_time = current_time - start_time
        estimated_total_time = (elapsed_time / processed_groups) * total_groups
        remaining_time = estimated_total_time - elapsed_time

        print(
            f"Processed {processed_groups}/{total_groups} loan groups. Estimated time remaining: {remaining_time:.2f} seconds")


    unique_addresses_data = []
    for loan_number, addresses in loan_number_unique_addresses.items():
        for address, (uid, addr_row) in addresses.items():
            merged_pincodes = \
            df[(df['loan_number'] == loan_number) & (df['Unique_Address_ID'] == uid)]['Merged_Pincodes'].iloc[0]
            unique_addresses_data.append({
                'Loan_Number': loan_number,
                'Unique_Address_ID': uid,
                'Unique_Address': address,
                'Merged_Pincodes': merged_pincodes
            })

    unique_df = pd.DataFrame(unique_addresses_data)

    return df, unique_df


def task6_execute():
    file_path = 'processed_addresses.xlsx'  # Replace with your actual input file path
    output_file_path = 'processed_addresses.xlsx'
    unique_addresses_file_path = 'Unique_Addresses.xlsx'

    df = pd.read_excel(file_path)
    if 'loan_number' not in df.columns or 'address' not in df.columns:
        raise ValueError("Excel file must contain 'loan_number' and 'address' columns")

    processed_df, unique_addresses_df = process_addresses_5(df)

    processed_df.to_excel(output_file_path, index=False)
    unique_addresses_df.to_excel(unique_addresses_file_path, index=False)

    print(f"Processed data saved to {output_file_path}")
    print(f"Unique addresses saved to {unique_addresses_file_path}")

In [15]:
def main():
    extract_loan_address()
    process_address_1()
    process_addresses_2()
    process_addresses_3()
    task5_execute()
    #task6_execute()

if __name__ == "__main__":
    main()

In [16]:
import os
import pandas as pd
import numpy as np

In [17]:
df = pd.read_excel('processed_addresses.xlsx')

In [18]:
df.head()

,loan_number,address,pincode,state,district,address_validation
0,GS096EEL1926264,"144K KHALIPHA COLONY, BHERUPURA ROAD WAR SIKA...",332001,Rajasthan,Not found,Valid
1,GS093EEL1936491,0 BARA ALLAHABAD BARA KHAS BARA NEAR BY BHORAW...,212107,Not Found,Not found,Valid
2,GS093EEL1548412,99/C MUNDERA ALLAHABAD KANPUR ROAD NEAR RK GUE...,211011,Not Found,Not found,Valid
3,GS093EEL1420229,"HATHIGAHAN, HATHGA ALLAHABAD PHAPHAMAU UTTAR ...",211013,Not Found,Not found,Valid
4,GS089EEL2019914,2/826 17 VELA AVANUE PALLADAM GANAPATHIP TIRU...,641605,Not Found,Not found,Valid

In [19]:
df.shape

(754422, 6)

In [20]:
import pandas as pd
import re
from fuzzywuzzy import fuzz
import time


def normalize_address(address):
    """
    Normalizes the address by removing special characters and extra spaces.
    """
    if isinstance(address, str):
        address = re.sub(r'\s+|,|\.|\-', ' ', address).upper()
        address = re.sub("[\/$&+,:;=?@#|'<>.^*()%!]", " ", address)
        return ' '.join(address.split())
    return ""


def fuzzy_similarity(address1, address2):
    address1 = address1.lower()
    address2 = address2.lower()
    return fuzz.token_set_ratio(address1, address2)


def fuzzy_similarity_ratio(address1, address2):
    address1 = address1.lower()
    address2 = address2.lower()
    return fuzz.ratio(address1, address2)


def extract_components(row):
    """
    Extracts components like pincode, state, and district directly from the DataFrame row.
    """
    pincode = row['pincode'] if pd.notnull(row['pincode']) else None
    state = row['state'] if pd.notnull(row['state']) else None
    district = row['district'] if pd.notnull(row['district']) else None
    return pincode, state, district


def is_similar_address(row1, row2, threshold=70):
    addr1 = row1['address'].lower()
    addr2 = row2['address'].lower()

    if fuzzy_similarity(addr1, addr2) > threshold:
        return True

    if fuzz.ratio(addr1[:20], addr2[:20]) >= 80:
        return True

    if fuzzy_similarity_ratio(addr1, addr2) > threshold:
        return True

    # pattern = re.compile(r'\b[a-zA-Z]{3,}\b')
    # words_addr1 = {word for word in addr1.split() if pattern.match(word)}
    # words_addr2 = {word for word in addr2.split() if pattern.match(word)}
    # different_words_count = len(words_addr1.symmetric_difference(words_addr2))
    # if different_words_count > 12:
    #     return False

    return False


def process_addresses_5(df):
    start_time = time.time()  # Start timing

    df['Normalized_Address'] = df['address'].apply(normalize_address)
    df['Unique_Address_ID'] = None
    df['Merged_Pincodes'] = ''  # Initialize as empty string

    loan_number_unique_addresses = {}
    total_groups = df['loan_number'].nunique()
    processed_groups = 0

    for loan_number, group_df in df.groupby('loan_number'):
        unique_addresses = {}
        unique_id_counter = 1

        for index, row in group_df.iterrows():
            if row['address_validation'].lower() != 'valid':
                continue

            address = row['Normalized_Address']
            if not address:
                continue

            address_id = None
            for seen_address, (seen_id, seen_row) in unique_addresses.items():
                if is_similar_address(row, seen_row):
                    address_id = seen_id
                    break

            if address_id is None:
                address_id = unique_id_counter
                unique_id_counter += 1
                unique_addresses[address] = (address_id, row)

            df.loc[index, 'Unique_Address_ID'] = address_id

            # Always update Merged_Pincodes for the address_id within the same loan_number
            existing_pincodes = df[(df['loan_number'] == loan_number) & (df['Unique_Address_ID'] == address_id)][
                'Merged_Pincodes'].unique()
            new_pincode = str(row['pincode']) if re.match(r'^\d{6}$', str(row['pincode'])) else ''
            merged_pincodes = ', '.join(
                sorted(set(filter(None, ', '.join(existing_pincodes).split(', ') + [new_pincode]))))
            df.loc[(df['loan_number'] == loan_number) & (
                        df['Unique_Address_ID'] == address_id), 'Merged_Pincodes'] = merged_pincodes

        loan_number_unique_addresses[loan_number] = unique_addresses

        processed_groups += 1
        current_time = time.time()
        elapsed_time = current_time - start_time
        estimated_total_time = (elapsed_time / processed_groups) * total_groups
        remaining_time = estimated_total_time - elapsed_time

        print(
            f"Processed {processed_groups}/{total_groups} loan groups. Estimated time remaining: {remaining_time:.2f} seconds")


    unique_addresses_data = []
    for loan_number, addresses in loan_number_unique_addresses.items():
        for address, (uid, addr_row) in addresses.items():
            merged_pincodes = \
            df[(df['loan_number'] == loan_number) & (df['Unique_Address_ID'] == uid)]['Merged_Pincodes'].iloc[0]
            unique_addresses_data.append({
                'Loan_Number': loan_number,
                'Unique_Address_ID': uid,
                'Unique_Address': address,
                'Merged_Pincodes': merged_pincodes
            })

    unique_df = pd.DataFrame(unique_addresses_data)

    return df, unique_df


def task6_execute():
    file_path = 'processed_addresses.xlsx'  # Replace with your actual input file path
    output_file_path = 'processed_addresses.xlsx'
    unique_addresses_file_path = 'Unique_Addresses.xlsx'

    df = pd.read_excel(file_path)
    if 'loan_number' not in df.columns or 'address' not in df.columns:
        raise ValueError("Excel file must contain 'loan_number' and 'address' columns")

    processed_df, unique_addresses_df = process_addresses_5(df)

    processed_df.to_excel(output_file_path, index=False)
    unique_addresses_df.to_excel(unique_addresses_file_path, index=False)

    print(f"Processed data saved to {output_file_path}")
    print(f"Unique addresses saved to {unique_addresses_file_path}")

In [21]:
import pandas as pd
import mapply

mapply.init(
    n_workers=-1,
    chunk_size=100,
    max_chunks_per_worker=4,
    progressbar=True
)

In [22]:
df['Normalized_Address'] = df['address'].mapply(normalize_address)
df['Unique_Address_ID'] = None
df['Merged_Pincodes'] = ''  # Initialize as empty string

  0%|          | 0/100 [00:00<?, ?it/s]

In [23]:
def get_unique(group_df):
    unique_addresses = {}
    unique_id_counter = 1

    for index, row in group_df.iterrows():
        if row['address_validation'].lower() != 'valid':
            continue

        address = row['Normalized_Address']
        if not address:
            continue

        address_id = None
        for seen_address, (seen_id, seen_row) in unique_addresses.items():
            if is_similar_address(row, seen_row):
                address_id = seen_id
                break

        if address_id is None:
            address_id = unique_id_counter
            unique_id_counter += 1
            unique_addresses[address] = (address_id, row)
        

        group_df.loc[index, 'Unique_Address_ID'] = address_id
        existing_pincodes = group_df[group_df['Unique_Address_ID'] == address_id][
            'Merged_Pincodes'].unique()
        new_pincode = str(row['pincode']) if re.match(r'^\d{6}$', str(row['pincode'])) else ''
        merged_pincodes = ', '.join(
            sorted(set(filter(None, ', '.join(existing_pincodes).split(', ') + [new_pincode]))))
        group_df.loc[
                    group_df['Unique_Address_ID'] == address_id, 'Merged_Pincodes'] = merged_pincodes

    return group_df

        # Always update Merged_Pincodes for the address_id within the same loan_number
        # existing_pincodes = df[(df['loan_number'] == loan_number) & (df['Unique_Address_ID'] == address_id)][
        #     'Merged_Pincodes'].unique()
        # new_pincode = str(row['pincode']) if re.match(r'^\d{6}$', str(row['pincode'])) else ''
        # merged_pincodes = ', '.join(
        #     sorted(set(filter(None, ', '.join(existing_pincodes).split(', ') + [new_pincode]))))
        # df.loc[(df['loan_number'] == loan_number) & (
        #             df['Unique_Address_ID'] == address_id), 'Merged_Pincodes'] = merged_pincodes

In [24]:
dfout = df.groupby('loan_number').mapply(get_unique)

  0%|          | 0/21775 [00:00<?, ?it/s]

/data/daily_job_analytics/rahul.deb/envs/rahul/lib/python3.11/site-packages/mapply/_groupby.py:97: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  return df_or_series.apply(func, *args, **kwargs)

In [25]:
dfout.shape

(754422, 9)

In [26]:
dfout.to_pickle('Address.pickle')

In [27]:
import pandas as pd

rahul_unique_address_df = pd.read_pickle('first_half.pickle')
address_df = pd.read_pickle('Address.pickle')

columns_to_add = address_df[['address_validation', 'Unique_Address_ID', 'Merged_Pincodes']]

rahul_unique_address_df = rahul_unique_address_df.reset_index(drop=True)
columns_to_add = columns_to_add.reset_index(drop=True)

rahul_unique_address_df = pd.concat([rahul_unique_address_df, columns_to_add], axis=1)

rahul_unique_address_df.to_pickle('Rahul_April_Unique_Address_1.pickle')

In [28]:
pickle_file_path = 'Rahul_April_Unique_Address_1.pickle'

df = pd.read_pickle(pickle_file_path)

In [29]:
df.shape

(754422, 18)

In [30]:
df.head(5)

,loan_number,application_number,loan_product,disbursed_date,name,applicant_type,phone,email_id,data_source,address,data_type,Date_reported,priority,address_priority,phone_priority,address_validation,Unique_Address_ID,Merged_Pincodes
0,GS096EEL1926264,A072101,EEG,2023-05-28,NaN,NaN,NaN,NaN,Scrub_experian,"144K KHALIPHA COLONY, BHERUPURA ROAD WAR SIKA...",NaN,2024-10-01,5,8.0,NaN,Valid,1,332001
1,GS093EEL1936491,A072884,EEG,2023-05-31,NaN,NaN,NaN,NaN,Scrub_experian,0 BARA ALLAHABAD BARA KHAS BARA NEAR BY BHORAW...,NaN,2024-10-01,5,4.0,NaN,Valid,1,212107
2,GS093EEL1548412,A044054,EEG,2022-12-26,NaN,NaN,NaN,NaN,Scrub_experian,99/C MUNDERA ALLAHABAD KANPUR ROAD NEAR RK GUE...,NaN,2024-10-01,5,7.0,NaN,Valid,1,"211001, 211011"
3,GS093EEL1420229,A031833,EEG,2022-10-28,NaN,NaN,NaN,NaN,Scrub_experian,"HATHIGAHAN, HATHGA ALLAHABAD PHAPHAMAU UTTAR ...",NaN,2024-10-01,5,5.0,NaN,Valid,1,"211013, 212502, 229412"
4,GS089EEL2019914,A077790,EEG,2023-06-30,NaN,NaN,NaN,NaN,Scrub_experian,2/826 17 VELA AVANUE PALLADAM GANAPATHIP TIRU...,NaN,2024-10-01,5,13.0,NaN,Valid,1,"641603, 641605"